<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/signUp.css" />
  <link rel="stylesheet" href="../static/css/General.css" />
</head>

<body>
  <form action="/signup" method="post">
    <div class="right">
      <h1>عضویت</h1>
      <p class="topP">قبلا ثبت نام کرده اید؟ <span><a href="/login">وارد شوید</a></span></p>
      <input class="input name" type="text" placeholder="نام " name="name"/>
      <input class="input email" type="email" placeholder="ایمیل" name="email"/>
      <input class="input GcodeP" type="number" placeholder="کد ملی" name="Gcode"/>
      <p class="GcodeP"></p>
      <input class="input pass" type="password" placeholder="رمز عبور" name="pass"/>
      <input class="input confirmation" type="password" placeholder="تکرار رمز عبور" name="pass-con"/>
      <p class="confirmationErrorP"></p>
      <button class="nextBtn">ادامه</button>
    </div>
    <div class="left">
      <img src="../static/resources/Images/images (8).png" alt="" />
    </div>
  </form>
  <!-- Script -->
  <script src="../static/scripts/signUpScript.js"></script>
</body>

</html>