<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="Gcode" placeholder="Gcode">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="pass" placeholder="pass">
        <input type="text" name="pass-con" placeholder="pass-con">
        <input type="submit">
    </form>
</body>
</html>